source "/opt/esp/idf/components/bootloader/Kconfig.projbuild"
source "/opt/esp/idf/components/esp_app_format/Kconfig.projbuild"
source "/opt/esp/idf/components/esp_rom/Kconfig.projbuild"
source "/opt/esp/idf/components/esptool_py/Kconfig.projbuild"
source "/opt/esp/idf/components/partition_table/Kconfig.projbuild"
source "/home/builder/project/main/Kconfig.projbuild"
source "/home/builder/project/components/connect/Kconfig.projbuild"